# ---- Core Framework ----
flask==3.0.3

# ---- Machine Learning & Deep Learning ----
tensorflow==2.15.0
numpy==1.26.4
keras-facenet==0.3.2
deepface==0.0.93
mtcnn==1.0.0
scikit-learn==1.6.1
pandas==2.2.3
joblib==1.4.2

# ---- Computer Vision ----
opencv-python==4.9.0.80
mediapipe==0.10.14

# ---- Utilities ----
pickle-mixin==1.0.2
python-dateutil==2.9.0.post0
requests==2.32.3
